@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Worktime app</h1>
    <p>Innofactor WorkTime Hackton app. This amazingnes is built with ASP.NET Core and running on the top of Azure Linux App Service</p>
</div>
